<div style="font-family:Helvetica,Arial,sans-serif;font-size:16px;margin:0;color:#0b0c0c">
    <span style="display:none;font-size:1px;color:#fff;max-height:0"></span>

    <table border="0" cellpadding="0" cellspacing="0"
           role="presentation" style="border-collapse:collapse;min-width:100%;width:100%!important" width="100%">
        <tbody>
        <tr>
            <td bgcolor="#0b0c0c" height="53" width="100%">
                <table align="center" border="0" cellpadding="0" cellspacing="0"
                       role="presentation" style="border-collapse:collapse;max-width:580px" width="100%">
                    <tbody>
                    <tr>
                        <td bgcolor="#0b0c0c" valign="middle" width="70">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                   style="border-collapse:collapse">
                                <tbody>
                                <tr>
                                    <td style="padding-left:10px"></td>
                                    <td style="font-size:28px;line-height:1.315789474;Margin-top:4px;padding-left:10px">
                                        <span style="font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#ffffff;text-decoration:none;vertical-align:top;display:inline-block">Confirm your email</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="m_-6186904992287805515content"
           role="presentation" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
        <tbody>
        <tr>
            <td height="10" valign="middle" width="10"></td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse"
                       width="100%">
                    <tbody>
                    <tr>
                        <td bgcolor="#1D70B8" height="10" width="100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td height="10" valign="middle" width="10"></td>
        </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="m_-6186904992287805515content"
           role="presentation" style="border-collapse:collapse;max-width:580px;width:100%!important" width="100%">
        <tbody>
        <tr>
            <td height="30"><br></td>
        </tr>
        <tr>
            <td valign="middle" width="10"><br></td>
            <td style="font-family:Helvetica,Arial,sans-serif;font-size:19px;line-height:1.315789474;max-width:560px">
                <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c"
                   th:text="|Hi ${name},|"></p>
                <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c"> Thank you for registering.
                    Please click on the below link to activate your account: </p>
                <blockquote
                        style="Margin:0 0 20px 0;border-left:10px solid #b1b4b6;padding:15px 0 0.1px 15px;font-size:19px;line-height:25px">
                    <p style="Margin:0 0 20px 0;font-size:19px;line-height:25px;color:#0b0c0c">
                        <a th:href="${confirmationUrl}">Activate Now</a>
                    </p>
                </blockquote>
                Link will expire in 15 minutes.
                <p>See you soon</p>
            </td>
            <td valign="middle" width="10"><br></td>
        </tr>
        <tr>
            <td height="30"><br></td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>